@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(54, 61, 77);
    min-height: 100vh;
}

.card {
    background-image: linear-gradient(rgba(243, 239, 239, 0.986), rgb(133, 133, 133));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 20px 50px 10px rgb(11, 12, 17);
  width: 75vw;

}

.portrait-btn {
    position: relative;
    top: -25px;
}

.generate-quote {
    color: black;
    font-style: italic;
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: none;
    background-color: white;
    width: 100px;
    transition: .5s;
    border: 1px solid black;
    margin: 10px;
}

.quote-me {
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.534);
    z-index: 20;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.generate-quote img {
    width: 100%;
    border-radius: 50%;
}

.generate-quote:hover {
    width: 120px;
}

.quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 5px;
}

.fa-quote-left {
    text-align: left;
    opacity: 0;
    width: 100%;
}

.fa-quote-right {
    text-align: right;
    opacity: 0;
    width: 100%;
}

i {
    font-size: 2rem;
    color: rgb(79, 108, 112);
}

.quote-container {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    padding: 10px;
}

.bottom-bar {
    width: 100%;
    height: 50px;
    text-align: right;
    margin: 10px;
    padding: 10px;
}


.twitter-btn {
    background-color: #3595E0;
    box-shadow: 1px 1px 3px 1px #2971a8;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    opacity: 0;
}

.twitter-btn:hover {
    background-color: #2a70a7;
}

.fa-twitter {
    font-size: 1rem;
    color: white;
}

.twitter-share-button {
    color: white;
    text-decoration: none;
}

.activated {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .card {
        width: 90vw;
        height: auto;
    }
    .quote-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }
    
    .fa-quote-left {
        text-align: left;
        width: 80vw;
    }
    
    .fa-quote-right {
        width: 80vw;
        text-align: right;
    }
    
    .quote-container {
        text-align: center;
        font-size: 1.2rem;
        padding: 5px;
        width: 80vw;
    }

}